html, body{color:#363636;font-size:10px;;letter-spacing:-0.5px;font-family:'Noto Sans KR';min-width: 350px;}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:local("☺"),
    url(NotoSansKR-Medium.woff2) format('woff2'),
    url(NotoSansKR-DemiLight.woff) format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src:local("☺"),
    url(NotoSansKR-Bold.woff2) format('woff2'),
    url(NotoSansKR-Medium.woff) format('woff');
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width:90px;
}
.row{
    margin-right: 10px !important;
    margin-left: 10px !important;
}
.iframe-container {
    position: relative;
    padding-top: 56%;
    width: 100%;
    height: 0;
}

/* iframe */
#iframes, #jumbo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.col-md-9{
    margin-bottom:30px;
}
.nav-menu{
    height:700px;
    overflow-y:scroll;
}
.nav{
    cursor: pointer;
}
.panel-body{
    display:none;
}
#jumbo{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.col-md-9, .iframe-container{
    min-height:450px;
}
.alert-info{
    animation:hi 1s infinite ease-in-out;
}
.figma-logo{
    width:10px;
    margin-right: 5px;
}
.figma-btn{
    display:flex;
    justify-content: center;
    background-color: #002863 !important;
    background-image: none !important;
    color:#fff;
    gap:10px;
}
.link-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
.link-menu .link2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width:300px;
}
.link-menu .link2:last-child{
    border-left:2px dashed #4b4b4b; margin-left:10px; padding-left:10px;
}
.logo-div{
    display:flex;
}
.logo-div img:first-child{
    width:85px;
}
.logo-div img:last-child{
    width:100px;
}
@keyframes hi {
    0%{
        opacity: 0.7;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.7;
    }
}
@media screen and (max-width:700px) {
    .link-menu{
        flex-direction: column;
    }
    .link-menu .link2:last-child{
        border:0;
        outline: 0;
        border-top:2px dashed #002863;
        padding-top:10px;
        margin-top:10px;
        padding-left:0px;
        margin-left:0px;
    }
}